<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .container{
            width: 50%;
            text-align: center;
            margin: 100px auto;
        }
        a{
            display: block;
            margin: 20px 0;
            font-size: large;

        }
    </style>
</head>
<body>
    <div class="container">
		<h1>Temperature: <span id="tmp">NA</span></h1>
		<h1>Humidity: <span id="hum">NA</span></h1>
    </div>
	
    <script>
		const tE = document.querySelector('#tmp');
		const hE = document.querySelector('#hum');
		function updateData(){
    		
			fetch('/get-data')
			 
			  .then( response => {
				if (!response.ok) {
				  throw new Error(`HTTP error: ${response.status}`);
				}
				
				return response.json();
			  })
			.then(res=>{
				let tmp = res.temp;
				let humidity = res.humidity;
				
				tE.innerHTML = tmp;
				hE.innerHTML = humidity;
			})

    		setTimeout(updateData, 5000);
		}

		updateData();
	</script>
	
</body>
</html>