<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .container{
            width: 50%;
            text-align: center;
            margin: 100px auto;
        }
        a{
            display: block;
            margin: 20px 0;
            font-size: large;

        }
    </style>
</head>
<body>
    <div class="container">
		<h1>Temperature: <span id="tmp">NA</span></h1>
		<h1>Humidity: <span id="hum">NA</span></h1>
		<h1>Atmospheric Pressue: <span id="ap">NA</span></h1>
		<h1>Relative Pressue(sea-level): <span id="slp">NA</span></h1>
		<h1>Altitude: <span id="alt">NA</span></h1>
		<h1>Light Intensity: <span id="li">NA</span></h1>
    </div>
	
    <script>
		const tE = document.querySelector('#tmp');
		const hE = document.querySelector('#hum');
		const apE = document.querySelector('#ap');
		const slpE = document.querySelector('#slp');
		const altE = document.querySelector('#alt');
		const liE = document.querySelector('#li');
		function updateData(){
    		
			fetch('/get-data')
			 
			  .then( response => {
				if (!response.ok) {
				  throw new Error(`HTTP error: ${response.status}`);
				}
				
				return response.json();
			  })
			.then(res=>{
				
				let tmp = res.temp;
				let humidity = res.humidity;
				let pressure = res.press;
				let slPressure = res.slPress;
				let altitude = res.alt;
				let lightIntensity = res.lI;
				
				if(tmp){
					tE.innerHTML = tmp+'°C';
					hE.innerHTML = humidity;
					apE.innerHTML = pressure+'mb';
					slpE.innerHTML = slPressure+'mb';
					altE.innerHTML = altitude+'mtr';
					liE.innerHTML = lightIntensity;
				}
				else{
					tE.innerHTML = 'No data received on server yet';
					hE.innerHTML = 'No data received on server yet';
					apE.innerHTML = 'No data received on server yet';
					slpE.innerHTML = 'No data received on server yet';
					altE.innerHTML = 'No data received on server yet';
					liE.innerHTML = 'No data received on server yet';
				}
			})

    		setTimeout(updateData, 5000);
		}

		updateData();
	</script>
	
</body>
</html>